@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;400;500&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: outfit;
    font-size: 14px;
}

body{
    background-color: rgb(72, 62, 81);
    color: blue;
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

section{
    width: 100%;    
}

.container{
    width: 90%;
    max-width: 450px;
    margin: 0 auto;
}
form, .number-fact {
    width: 100%;
    background-color: grey;
    padding: 20px;
    border-radius: 8px;
}

input[type="number"]{
    width: 70%;
    height: 35px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 10px;
}

input[type="number"]::placeholder{
    font-size: 14px;
    font-weight: 400;
}

button{
    display: inline-block;
    width: 20%;
    height: 35px;
    margin-left: 10px;
    border-radius: 4px;
    cursor: pointer;
    font-family: monospace;
} 

.number-fact {
    margin-top: 10px;
    height:  auto;
    
}